@charset "UTF-8";

h1 {
    text-align: center;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 8px;
}

.back {
    border: 2px solid #c3c3c3;
    display: grid;
    justify-content: center; 
    align-items: center
}

#count {
    display: grid;
    justify-content: center;
    text-align: center;
    font-size: 24px;
}

#matches {
    display: grid;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    font-size: 24px;
}

/* #card1 {grid-area: 1 / 2 / 2 / 3;}
#card2 {grid-area: 1 / 3 / 2 / 4;}
#card3 {grid-area: 1 / 4 / 2 / 5;}
#card4 {grid-area: 2 / 2 / 3 / 3;}
#card5 {grid-area: 2 / 3 / 3 / 4;}
#card6 {grid-area: 2 / 4 / 3 / 5;}
#card7 {grid-area: 3 / 2 / 4 / 3;}
#card8 {grid-area: 3 / 3 / 4 / 4;}
#card9 {grid-area: 3 / 4 / 4 / 5;}
#card10 {grid-area: 4 / 2 / 5 / 3;}
#card11 {grid-area: 4 / 3 / 5 / 4;}
#card12 {grid-area: 4 / 4 / 5 / 5;}
#new-game {grid-area: 5 / 3 / 6/ 4;} */

#card1 {
    grid-area: 1 / 1 / 2 / 2;
}

#card2 {
    grid-area: 1 / 2 / 2 / 3;
}

#card3 {
    grid-area: 1 / 3 / 2 / 4;
}

#card4 {
    grid-area: 2 / 1 / 3 / 2;
}

#card5 {
    grid-area: 2 / 2 / 3 / 3;
}

#card6 {
    grid-area: 2 / 3 / 3 / 4;
}

#card7 {
    grid-area: 3 / 1 / 4 / 2;
}

#card8 {
    grid-area: 3 / 2 / 4 / 3;
}

#card9 {
    grid-area: 3 / 3 / 4 / 4;
}

#card10 {
    grid-area: 4 / 1 / 5 / 2;
}

#card11 {
    grid-area: 4 / 2 / 5 / 3;
}

#card12 {
    grid-area: 4 / 3 / 5 / 4;
}

#count {
    grid-area: 1 / 4 / 2 / 5;
}

#matches {
    grid-area: 2 / 4 / 3 / 5;
}

#new-game {
    grid-area: 3 / 4 / 4 / 5;
}

/* #attributes {
    box-sizing: border-box;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: 2px 2px 3px 0 rgba(41, 41, 41, 0.75);
}  */

.attributes {
    box-sizing: content-box;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 3px 0 rgba(41, 41, 41, 0.75);
}

button {
    margin-top: 15px;
    padding: 5px;
    background-color: green;
    color: white;
    border-radius: 1px;
    font-size: 20px;
}